* { box-sizing: border-box; }
code {
	white-space: pre-wrap !important;
	word-wrap: break-word;
}
button, input[type="submit"], input[type="reset"] {
	cursor: pointer;
	padding: 0.75em 1em;
	min-width: 5em;
	font-family: 'Courier New', Courier, monospace;
	background: #121212;
	color: #ccc;
	border: none;
	border-radius: 0.5em;
}
:is(button, input[type="submit"], input[type="reset"]):hover {
	filter: brightness(1.2);
}
:is(button, input[type="submit"], input[type="reset"]):active {
	box-shadow: 0 0 5px #777 inset;
}
textarea { resize: vertical; }
label {
	cursor: pointer;
	font-weight: 900;
}
body {
	margin: 0; padding: 0;
	height: 100vh; width: 100vw;
	max-height: 100vh;
	display: grid;
	grid-template-areas: "ip view" "code code";
	gap: 0.25em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-family: Consolas, 'Courier New', Courier, monospace;
	font-size: 14px;
	background: #212121;
	color: #fff;
}
#ip, #code, #view {
	height: 100%;
	width: 100%;
	overflow-y: auto;
}
#ipCntr { grid-area: ip; }
#ip { padding: 0.5em; }
#codeCntr { grid-area: code; }
#code { display: inline-block; padding: 0.5em 0.75em; }
#viewCntr { grid-area: view; }
#view { border: none; background: #fff; color: #000; }
#ip {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-auto-rows: min-content;
	gap: 0.25em;
	align-items: center;
}
#ip :is(input[type="text"], textarea) {
	padding: 0.5em 0.75em; margin-bottom: 0.5em;
	color: #fff;
	background: #212121;
	border: none;
	border-bottom: 1px solid #777;
}
#ip > div {
	display: inline-block;
	grid-column: 1/span 2;
	word-break: break-all;
}
.cntr {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 0.25em;
	overflow-y: hidden;
	box-shadow: 0 0 0.25em black;
}
.cntr > header {
	display: block;
	writing-mode: vertical-rl; writing-mode: sideways-lr; text-orientation: mixed;
	font-weight: 700; font-size: 1.1em;
	text-align: center;
	color: #fff; background: #121212;
	padding: 0.25em;
}